.project_section {
  width: 75%;
  margin: 5rem auto;
  @media screen and (max-width: 720px) {
    display: block;
    width: 90%;
  }
  .heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .title {
      font-family: "Fira Code";
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      margin-bottom: 24px;
      color: #ffffff;
      position: relative;
      display: inline-block;
      background-color: #282c33;
    }
    &::before {
      content: "";
      width: 50%;
      height: 1px;
      position: absolute;
      top: 22px;
      left: 15%;
      background-color: #c778dd;
      @media screen and (max-width: 720px) {
        display: none;
      }
    }
    .view_all_btn {
      font-size: 18px;
      line-height: 0;
      margin-bottom: 24px;
      cursor: pointer;
      &:hover {
        color: #c778dd;
      }
    }
  }
  .card_container {
    margin-block: 2rem;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    @media screen and (max-width: 720px) {
      display: block;
      width: 100%;
    }
  }
}
